@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", "sans-serif";
  color: #2e2f42;
  background-color: #ffffff;
}

.hero {
  background: #2e2f42;
}

.our-team {
  background: #f4f4fd;
}

.footer {
  background: #2e2f42;
}

.logo {
  font-family: "Raleway", "sans-serif";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

header span {
  color: #2e2f42;
}

footer span {
  color: #f4f4fd;
}

li {
  list-style: none;
}

.link:hover {
  color: #404bbf;
}

.link:active {
  color: #404bbf;
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

address .link {
  color: #434455;
  font-weight: 400;
}

.address {
  font-style: normal;
}

.hero-h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.btn {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

.btn:hover {
  background-color: #404bbf;
}
.btn:active {
  background-color: #404bbf;
}

.section-subheader {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
}

.article {
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

footer .article {
  color: #f4f4fd;
}

.card {
  background-color: #ffffff;
}
